html, body {
	margin: 0;
	height: 100%;
	width: 100%;
	background: #222;
    font-family: sans-serif;
    font-weight: 100;
}

.image {
	display: inline-block;
	height: 50%;
	width: 25%;
	background-size: cover;
	background-position: center;
	transition: 0.2s;
	cursor: pointer;
}

.image:hover {
	-webkit-transform: scale(1.05);
	transform: scale(1.05) translateZ(1px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

#images {
	height: 100%;
	width: 100%;
	line-height: 0;
}

#image_viewer {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
    background: rgba(0, 0, 0, 0.9) no-repeat center;
    background-size: contain;
	transition: 0.5s;
	opacity: 1;
	z-index: 1000;
    transform: translateZ(2px);
    -webkit-transform: translateZ(2px);
}

#upload_prompt {
	width: 100%;
	color: #fff;
    text-align: center;
    font-size: 14px;
    padding-top: 10px;
}

#upload_button {
    font-size: 30px;
    padding: 20px;
    color: rgba(0, 0, 0, 0.4);
    margin-top: 10px;
    cursor: pointer;
}

#upload_window {
    position: fixed;
    height: 100%;
    width: 100%;
    background: #ccc;
    left: 0;
    top: 150%;
    transition: 0.5s;
}

#close_upload_window {
    width: 20px;
    height: 20px;
    margin: 10px 10px 10px auto;
    cursor: pointer;
    background: url(x.png) no-repeat;
    background-size: contain;
    opacity: 0.4;
}

#photo_select_assistant {
    padding: 20px;
}

#photo_upload_progress {
    width: 100%;
    height: 4px;
    top: 0;
    position: absolute;
}

#photo_upload_progress_inner {
    height: 100%;
    width: 0;
    background: #0a0;
    transition: 0.5s;
}

#photo_select {
    width: 100%;
    font-size: 30px;
    padding: 20px;
    color: rgba(0, 0, 0, 0.4);
    margin-top: 10px;
    cursor: pointer;
    bottom: 75px;
    position: absolute;
    text-align: center;
    background-color: #bbb;
    box-sizing: border-box;
}

#photo_upload {
    width: 100%;
    font-size: 30px;
    padding: 20px;
    color: rgba(0, 0, 0, 0.4);
    margin-top: 10px;
    cursor: pointer;
    bottom: 0;
    position: absolute;
    text-align: center;
    background-color: #faa;
    box-sizing: border-box;
}

#selected_image_container {
    top: 0;
    bottom: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 50px 30px 180px;
    transition: 0.5s;
}

#selected_image {
    width: 100%;
    height: 100%;
    background: no-repeat center;
    background-size: cover;
    border: 10px solid #efe;
    box-sizing: border-box;
}

#no_image_message {
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
    color: #777;
}

#alert_container {
    height: 100%;
    width: 100%;
    background: rgba(30, 30, 30, 0.7);
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
    z-index: 1000;
    padding: 20px;
    box-sizing: border-box;
}

#alert_window {
    padding: 20px;
    width: 100%;
    max-width: 500px;
    background: #E6E3E1;
}

#alert_title {
    color: #2B415D;
    font-weight: 800;
}

#alert_message {
    margin-top: 10px;
    margin-bottom: 15px;
    color: #666;
    overflow-x: scroll;
}

#alert_buttons {
    text-align: right;
}

.alert_button {
    cursor: pointer;
    padding-left: 10px;
    color: #333;

    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -ms-transition: color 0.5s;
    -o-transition: color 0.5s;
    transition: color 0.5s;
}

.alert_button:hover {
    color: #E37954;
}

.transparent {
	opacity: 0 !important;
}

.hidden {
	display: none !important;
}

.blurred {
    filter: blur(10px);
}

@media screen and (max-width: 1000px) {
	.image {
		width: 100%;
		height: 75%;
	}
}
