html, body {
	margin: 0;
	height: 100%;
	width: 100%;
	background: #222;
    font-family: sans-serif;
    font-weight: 100;
}

.image {
	display: inline-block;
	height: 33%;
	width: 25%;
	background-size: cover;
	background-position: center;
	transition: 0.2s;
	cursor: pointer;
}

.image:hover {
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
}

#images {
	height: 100%;
	width: 100%;
	line-height: 0;
}

#image_viewer {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
    background: rgba(0, 0, 0, 0.9) no-repeat center;
    background-size: contain;
	transition: 0.5s;
	opacity: 1;
	z-index: 1000;
}

#upload_prompt {
	width: 100%;
	color: #fff;
    text-align: center;
    font-size: 14px;
    padding-top: 10px;
}

#upload_button {
    font-size: 30px;
    padding: 20px;
    color: rgba(0, 0, 0, 0.4);
    margin-top: 10px;
    cursor: pointer;
}

#upload_window {
    position: fixed;
    height: 100%;
    width: 100%;
    background: #ccc;
    left: 0;
    top: 100%;
    transition: 0.5s;
}

#close_upload_window {
    width: 20px;
    height: 20px;
    margin: 10px 10px 10px auto;
    cursor: pointer;
    background: url(x.png) no-repeat;
    background-size: contain;
    opacity: 0.4;
}

#photo_select_assistant {
    padding: 20px;
}

#photo_upload_progress {
    width: 100%;
    height: 4px;
    bottom: 72px;
    position: absolute;
}

#photo_upload_progress_inner {
    height: 100%;
    background: #0a0;
    transition: 0.5s;
}

#photo_select {
    width: 100%;
    font-size: 30px;
    padding: 20px;
    color: rgba(0, 0, 0, 0.4);
    margin-top: 10px;
    cursor: pointer;
    bottom: 75px;
    position: absolute;
    text-align: center;
    background-color: #bbb;
    box-sizing: border-box;
}

#photo_upload {
    width: 100%;
    font-size: 30px;
    padding: 20px;
    color: rgba(0, 0, 0, 0.4);
    margin-top: 10px;
    cursor: pointer;
    bottom: 0;
    position: absolute;
    text-align: center;
    background-color: #faa;
    box-sizing: border-box;
}

.transparent {
	opacity: 0 !important;
}

.hidden {
	display: none !important;
}

@media screen and (max-width: 1000px) {
	.image {
		width: 50%;
	}
}